@model IEnumerable<Exam1.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create" class="btn btn-dark fw-bold">Create New</a>
</p>
<hr />
<div class="row">
    <div class="col">
        <br />
        <br />
        <br />
        <br />
        <a asp-controller="Courses" asp-action="Index" class="btn btn-outline-success">All</a>
    </div>
    <div class="col">

        <form asp-action="Index" method="get" class="mb-3">
    <label for="instructorFilter">Filter by Instructor:</label>
    <select id="instructorFilter" name="InstructorId" class="form-control">
        <option value="">Select Instructor</option>
        @foreach (var instructor in ViewBag.AllInstructors)
        {
                    <option value="@instructor.Value" selected="@(ViewBag.SelectedInstructorId == instructor.Value)">
                        @instructor.Text
                    </option>
        }
    </select>
    <br />
    <button type="submit" class="btn btn-outline-success">Filter</button>
    </form>
    </div>
    <div class="col">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <p>
                Search by Title: <input type="text" name="searchStr" value="@ViewData["CurrentTitleFilter"]" class="form-control" />
                <br />
                <input class="btn btn-outline-success" type="submit" value="Search" />
            </p>
        </form>
    </div>
    <div class="col">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <p>
                Search by Description: <input type="text" name="searchStr" value="@ViewData["CurrentDescriptionFilter"]" class="form-control" />
                <br />
                <input class="btn btn-outline-success" type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor!.FullName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary fw-bold">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning fw-bold">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger fw-bold">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
